<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Classificador de Emails</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="box">
  <h2>Classificador de E-mails 📩</h2>

  <form action="/processar-emails" method="post" enctype="multipart/form-data">
    <label>E-mail (texto direto)</label>
    <textarea name="text" rows="8">
    </textarea>

    <label>Ou envie um arquivo (.txt ou .pdf)</label>
    <input type="file" name="file" accept=".txt,.pdf">

    <button type="submit">Analisar E-mail</button>
  </form>

  {% if categoria %}
  <div class="result">
    <p class="category_resp"><strong class="category">Categoria:</strong> {{ categoria }}</p>
    <p><strong>Resposta:</strong> {{ resposta }}</p>
  </div>
  {% endif %}
</div>
</body>
</html>
